@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.topCalc {
    top: calc(50% - 40px);
}


.ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;

    border-radius: 50%;
    border: 2px solid #472407;
    cursor: pointer;
}
